.home-1 {
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-2 {
  width: 85%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.home-1 h1 {
  font-size: 60px;
  font-weight: 800;
  font-family: Poppins;
  word-spacing: 10px;
  line-height: 60px;
}

.home-1 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 18px;
  margin-top: 2%;
  letter-spacing: 0.7px;
  line-height: 25px;
}

.home-3 {
  padding: 5%;
  width: 100%;
  padding-bottom: 7%;
}

.home-5 h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: Poppins;
  margin-bottom: 1%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.home-5 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 15px;
  margin-bottom: 5%;
  letter-spacing: 0.7px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.home-4 {
  width: 100%;
}

.home-5 {
  width: 90%;
  margin: auto;
}

.home-6 {
  width: 100%;
}

.home-6 {
  display: flex;
  justify-content: center;
}

.home-7 {
  width: 45%;
  display: flex;
}


.home-9 {
  width: 100%;
  margin: auto;
}

.home-7 h1 {
  font-size: 35px;
  font-weight: 800;
  font-family: Poppins;
  margin-bottom: 1%;
  color: rgb(255, 255, 255);
}

.home-7 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

.home-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--background-color);
  padding: 2rem 10rem 10rem;
}

.home-10 {
  width: 100%;
  height: 500px;
  background-color: black;
  margin: auto;
}

@media (max-width: 768px) {
  .home-1 {
    height: 400px;
  }
  .home-2 {
    width: 90%;
    margin-top: 0;
    text-align: left;
  }
  .home-1 h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .home-1 p {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 2%;
  }
  .home-3 {
    padding-bottom: 10%;
  }
  .home-5 {
    width: 100%;
  }

  .home-5 h1 {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  .home-5 p {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 10%;
    text-align: left;
  }

  .home-6 {
    flex-wrap: wrap;
  }

  .home-7 {
    width: 100%;
    height: 400px;
    padding: 5%;
    text-align: left;
  }

  .home-7 h1 {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  .home-7 p {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 10%;
    text-align: left;
    margin-bottom: 1%;
  }

}
