node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

.env
.env.local
.env.*.local

dist/
build/

logs/
*.log

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

coverage/
*.tgz
*.swp
