body {
  margin: 0;
}

.navbar-1 {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(200, 200, 200);
}

.navbar-2 {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-7{
  margin-left: 5%;
}

.navbar-2 h1 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.7px;
}

.navbar-4 {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navbar-2 a {
  text-decoration: None;
  text-align: center;
  color: black;
  letter-spacing: 0.7px;
  font-weight: 300;
  font-size: 15px;
}

.navbar-2 a:hover{
  color:#6c47ff;
}

.navbar-5{
  justify-content: right;
  margin-right: 2%;
}

.navbar-5 button{
  padding: 7px 2px 7px 2px ;
  border-radius: 10px;
  background: rgb(108,71,255);
  background: linear-gradient(360deg, rgba(108,71,255,1) 44%, rgba(151,0,255,0.65172006302521) 100%);
  border: none;
  color:white;
  font-size: 13px;
  letter-spacing: 0.7px;
  font-weight: 300;
  width: 25%;
}

.navbar-5 input::placeholder{
  font-size: 15px;
  letter-spacing: 0.7px;
  font-weight: 300;
}
