.dashboard-1 {
  width: 90%;
  margin: auto;
  margin-top: 2%;
}

.dashboard-1 h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: Poppins;
  letter-spacing: 0.7px;
}

.dashboard-1 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 25px;
}

.dashboard-2 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-top: 2%;
}

.dashboard-3 {
  width: 49%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 2%;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dashboard-3 h1 {
  font-size: 15px;
  font-weight: 300;
}

.dashboard-4 {
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.dashboard-4 h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: Poppins;
  letter-spacing: 0.7px;
}

.dashboard-4 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 25px;
}

.dashboard-5 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-top: 2%;
}

.dashboard-6 {
  width: 23%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 2%;
  padding: 2%;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dashboard-6 h2 {
  font-size: 15px;
  font-weight: 300;
  font-family: Poppins;
}

.dashboard-6 h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dashboard-7 {
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.dashboard-7 h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: Poppins;
  letter-spacing: 0.7px;
}

.dashboard-7 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 25px;
  margin-bottom: 2%;
}

.dashboard-8 {
  width: 100%;
  margin: auto;
  font-family: Poppins;
}

.dashboard-9 {
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.dashboard-9 h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: Poppins;
  letter-spacing: 0.7px;
}

.dashboard-9 p {
  font-weight: 300;
  font-family: Poppins;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 25px;
  margin-bottom: 2%;
}

.dashboard-10 {
  width: 100%;
  margin-bottom: 5%;
  border: 1px solid rgb(50, 50, 50);
}

td {
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.7px;
}

tr {
  border-bottom: 1px solid rgb(50, 50, 50);
}

#dash12 td {
  background-color: rgb(50, 50, 50);
  color: white;
}

@media (max-width: 768px) {
  .dashboard-1{
    width: 95%;
  }
  .dashboard-1 h1{
    font-size: 20px;
  }
  .dashboard-3{
    width: 100%;
    margin-bottom: 5%;
  }
  .dashboard-3 h1{
    text-align: center;
    font-size: 15px;
  }
  .dashboard-4{
    width: 95%;
  }
  .dashboard-4 p{
    font-size: 12px;
  }
  .dashboard-4 h1{
    font-size: 20px;
  }
  .dashboard-4 h2{
    font-size: 15px;
  }
  .dashboard-6{
    width: 49%;
    margin-bottom: 5%;
  }
  .dashboard-7{
    width: 95%;
  }
  .dashboard-7 p{
    font-size: 12px;
  }
  .dashboard-7  h1{
    font-size: 20px;
  }
  .dashboard-9{
    width: 95%;
    margin-top: 10%;
  }
  .dashboard-9 p{
    font-size: 12px;
  }
  .dashboard-9  h1{
    font-size: 20px;
  }
  table {
    width: 90%;
    margin-bottom: 10%;
  }
  td {
    padding: 9px;
    font-size: 10px;
  }
}
